/* Conatainer style */

.main-container {
  background-color: #f3f3f3;
  width: 60%;
  height: 60%;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.img-styling {
  max-width: 100%;
}
